/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto"), local("Roboto"),
    url(/assets/fonts/Roboto/Roboto-Light.ttf) format("truetype");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
